doctype 
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet')
        p
        header(class='company') NASASAURUS
    body 
        header 
            nav 
                ul 
                each item in config.menu
                    a(href=item[1] target=item[2])
                        div(class='menu_item')
                            li=item[0]
        p
        div(class='titlePage') Create Account 
        div 
            form(method='POST' action='log' onsubmit="return emSubmit()")
                div(class='hi')
                        P(class='no') How are you? 
                        select(name="q1" class='state' id='q1')
                            option(value='Perfer-not-answer') Perfer not to answer
                            option(value='Good') Good
                            option(value='Great') Great
                            option(value='eh') eh
                div(class='hi')
                        P(class='no') Are you tired? 
                        select(name="q2" class='state' id='q2')
                            option(value='yes') Yes
                            option(value='no') No
                            option(value='just-bit') Just a bit
                            option(value='eh') eh
                div(class='hi')
                        P(class='no') A portable chunk of code that can be embedded in Web pages to give extra functionality is known as a
                        select(name="q3" class='state' id='q3')
                            option(value='Widget') Widget
                            option(value='Curator') Curator
                            option(value='Wiki') Wiki
                            option(value='listserv') listserv
                div(class='hi')
                    P(class='no') Email: 
                    input(id="email" name='email' type="text") 
                div(class='hi')
                        P(class='no') Password: 
                        input(id='password' name='password' type="text")
                input(type="submit" value="Submit Form" class='submit')
            div(id='myErrors') 
            script(src="script.js") 