doctype
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet')
        p
        header(class='company') NASASAURUS
    body 
        header 
            nav 
                ul 
                each item in config.menu
                    a(href=item[1] target=item[2])
                        div(class='menu_item')
                            li=item[0]
        p
        div(class='titlePage') Features

        p Scarfs
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRBml3e0nNKcs9BIf8-mOKdVmR8OHDXdRJwA&usqp=CAU")
        
        p Wigs
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS03KbYVlfKTC4Km2TIQ6OcXyZWrM0Ba8G-dQ&usqp=CAU")
        
        p Nail Polish
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl-D5EDfcOpL9uGE_vsqJcTKYRce5SNjVuXw&usqp=CAU")

        p Glasses
        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzhqEbUztZJzh5KwzDbj64dIAud1hKsT0blQ&usqp=CAU")