extends layout 

block content 
    p I'm here to offer you a once of a lifetime opportunity to get your own Nasasaurus. A very rare creature that not anyone can easily get. These extraordinary creatures come from Mars. After 87 Years of millions of kilometers of travel, they have finally have arrived.
    img(src="https://www.indiewire.com/wp-content/uploads/2015/06/jurassic-world.jpg")