doctype 
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet')
        p
        header(class='company') NASASAURUS
    body 
        header 
            nav 
                ul 
                each item in config.menu
                    a(href=item[1] target=item[2])
                        div(class='menu_item')
                            li=item[0]
        p
        div(class='titlePage') Login 
        div 
            form(method='POST' action='loggedIn' onsubmit="return emSubmit()")
                div(class='hi')
                    P(class='no') Email: 
                    input(id="email" name='email' type="text") 
                div(class='hi')
                        P(class='no') Password: 
                        input(id='password' name='password' type="text")
                input(type="submit" value="Submit Form" class='submit')
            div(id='myErrors') 
            script(src="script.js") 