doctype
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet')
        p
        header(class='company') NASASAURUS
    body 
        header 
            nav 
                ul 
                each item in config.menu
                    a(href=item[1] target=item[2])
                        div(class='menu_item')
                            li=item[0]
        p
        div(class='titlePage') Orders Form 
        div 
            form(method='POST' action='submitted' onsubmit="return mySubmit()")
                div(class='hi')
                    P(class='no') Nasasaures: 
                    select(name="types" class='state' id='types')
                        option(value='None') None
                        option(value='Long Neck-$12000') Long Neck $12000
                        option(value='Wingless-$8000') Wingless $8000
                        option(value='Tail Ball-$10000') Tail Ball $10000
                        option(value='Elbowless-$6000') ElbowLess $6000
                div(class='hi')
                    P(class='no') Features: 
                    select(name="kinds" class='state' id='kinds')
                        option(value='None') None
                        option(value='Scarf-$50') Scarf $50
                        option(value='Wig-$200') Wig $200
                        option(value='Nail Polish-$80') Nail Polsh $80
                        option(value='Glasses-$50') Glasses $50
                div(class='hi')
                    P(class='no') First Name: 
                    input(id="fname" name='fname' type="text")
                div(class='hi')
                    P(class='no') Last Name: 
                    input(id="lname" name='lname' type="text") 
                div(class='hi')
                    P(class='no') Email: 
                    input(id="email" name='email' type="text") 
                div(class='hi')
                    P(class='no') Address: 
                    input(id="address" name='address' type="text") 
                div(class='hi')
                    P(class='no') City: 
                    input(id="city" name='city' type="text")  
                div(class='hi')
                    P(class='no') State: 
                    select(name="state" class='state' id='state')
                        option(value='AL') AL
                        option(value='AK') AK
                        option(value='AZ') AZ
                        option(value='AR') AR
                        option(value='CA') CA
                        option(value='CO') CO
                        option(value='CT') CT
                        option(value='DE') DE
                        option(value='FL') FL
                        option(value='GA') GA
                        option(value='HI') HI
                        option(value='ID') ID
                        option(value='IL') IL
                        option(value='IN') IN
                        option(value='IA') IA
                        option(value='KS') KS
                        option(value='KY') KY
                        option(value='LA') LA
                        option(value='ME') ME
                        option(value='MD') MD
                        option(value='MA') MA
                        option(value='MI') MI
                        option(value='MN') MN
                        option(value='MS') MS
                        option(value='MO') MO
                        option(value='MT') MT
                        option(value='NE') NE
                        option(value='NV') NV
                        option(value='NH') NH
                        option(value='NJ') NJ
                        option(value='NM') NM
                        option(value='NY') NY
                        option(value='NC') NC
                        option(value='ND') ND
                        option(value='OH') OH
                        option(value='OK') OK
                        option(value='OR') OR
                        option(value='PA') PA
                        option(value='RI') RI
                        option(value='SC') SC
                        option(value='SD') SD
                        option(value='TN') TN
                        option(value='TX') TX
                        option(value='UT') UT
                        option(value='VT') VT
                        option(value='VA') VA
                        option(value='WA') WA
                        option(value='WV') WV
                        option(value='WI') WI
                        option(value='WY') WY
                div(class='hi')
                    P(class='no') Zip-Code: 
                    input(id="zipcode" name='zipcode' type="text") 
                div(class='hi')
                    P(class='no') Phone Number: 
                    input(id="phonenumber" name='phonenumber' type="text") 
                input(type="submit" value="Submit Form" class='submit')
            div(id='myErrors') 
            script(src='script.js')
