doctype
html 
    head 
        title=title 
        link(href='/style.css' rel='stylesheet')
    body  
        h3 #{title}
        p Thanks for your submission.
        div=person.Nasasaures
        div=person.Features
        div=person.fname
        div=person.lname
        div=person.email
        div=person.address
        div=person.city
        div=person.state
        div=person.zipcode
        div=person.phoneN