html{
    background-color: rgb(255 219 170);
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: monospace;
}
a{
    text-decoration: none;
    color: rgb(81, 255, 0);
}

.company{
    font-size: 3rem;
    color: #4e2f17;
    font-weight: 700;
    font-style: oblique;
    border: 5px solid #4e2f17;
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: cadetblue;
}

.menu_item{
    display: inline-block;
    border: 3px solid whitesmoke;
    border-style: dashed;
    width: auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 61, 0);
    cursor: pointer;
    user-select: none;
}

.menu_item:hover{
    background-color: rgb(85, 0, 255);
    color: yellow;
}

li{
    list-style: none;
}

.hi p{
    display: inline-block;
}

input, option{
    font-size: 35px;
    padding: 5px;
}

.submit{
    font-size: 35px;
    text-align: center;
}

.state{
    font-size: 35px;
}

.titlePage{
    font-size: 87px;
    font-weight: 700;
}
h2{
    font-weight: normal;
}

p{
    margin-left: 20%;
    margin-right: 20%;
}

nav{
    margin-left: 10%;
    margin-right: 10%;
}

img{
    width: 60%;
    margin-bottom: 5%;
}
.images{
    /* width: 60%; */
    margin: 0 auto;
}

.hidden{
    display: none;
}
.no{
    margin-left: 0%;
    margin-right: 0%;
}

